.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}
h3 {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

mat-card {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

mat-checkbox {
  margin-right: 5px;
}

.completed {
  text-decoration: line-through;
  color: #999;
}

.todo-view {
  display: contents;
}

.todo-view h5 {
  font-size: 1rem;
  margin-top: 8px;
}

.actions {
  margin-left: auto;
  gap: 10px;
  float: inline-end;
}
mat-form-field {
  width: 100%;
  margin-bottom: 10px;
}
