<div class="container">
  <h3>Your Today's To-Do List</h3>

  <mat-list>
    <mat-list-item *ngFor="let todo of todos" style="height: auto">
      <mat-card [class.completed]="todo.completed">
        <!-- View Mode -->
        <mat-checkbox
          [(ngModel)]="todo.completed"
          (check)="toggleCompletion(todo)"
          [disabled]="editingToDoId === todo.id"
        >
        </mat-checkbox>
        <div *ngIf="editingToDoId !== todo.id" class="todo-view">
          <p>{{ todo.title }}</p>
          <div class="actions">
            <button
              mat-icon-button
              color="primary"
              (click)="startEditing(todo.id)"
            >
              <mat-icon style="color: #53a8b6">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTodo(todo.id)">
              <mat-icon style="color: #f95959">delete</mat-icon>
            </button>
          </div>
        </div>

        <!-- Edit Mode -->
        <div *ngIf="editingToDoId === todo.id" class="todo-edit">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput #titleInput [(ngModel)]="todo.title" />
          </mat-form-field>
          <div class="actions">
            <button
              mat-raised-button
              style="background-color: #53a8b6; color: #ffffff"
              (click)="saveEdit(todo.id, titleInput.value)"
            >
              Save
            </button>
            <button
              mat-raised-button
              style="background-color: #455d7a; color: #ffffff"
              (click)="cancelEdit()"
            >
              Cancel
            </button>
          </div>
        </div>
      </mat-card>
    </mat-list-item>
  </mat-list>

  <button mat-raised-button class="add-button" (click)="openAddTodoDialog()">
    Add To-Do
  </button>
</div>
