<h2 mat-dialog-title>Add New Item</h2>
<mat-dialog-content style="padding-top: 5px">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="newTodoTitle" placeholder="Enter title" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="newTodoCategory">
      <mat-option *ngFor="let category of categories" [value]="category">{{
        category
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Priority</mat-label>
    <mat-select [(ngModel)]="newTodoPriority">
      <mat-option *ngFor="let priority of prorities" [value]="priority">{{
        priority
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-raised-button
    style="background-color: #53a8b6; color: #ffffff"
    (click)="onSave()"
  >
    Save
  </button>
  <button
    mat-raised-button
    style="background-color: #455d7a; color: #ffffff"
    (click)="onCancel()"
  >
    Cancel
  </button>
</mat-dialog-actions>
